html, body
{
	height: 100%;
}

body
{
	color: #333;
	line-height: 1.2;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

h1
{
	font-size: 1.6em;
	margin: 0.8em 0;
}

h2
{
	font-size: 1.4em;
	margin: 1em 0;
}

h3
{
	font-size: 1.2em;
	margin: 1.2em 0;
}

h4,h5,h6
{
	font-size: 1em;
	margin: 1.4em 0;
}

p
{
	margin: 0 0 0.8em;
}

address
{
	display: block;
	font-style: normal;
	margin: 0 0 0.8em;
}

abbr[title], abbr[data-original-title]
{
	border-bottom: 1px dotted #999;
	cursor: help;
}

.wrapper, .wrapper-with-footer
{
	margin: 0 60px;
}

/* прилипающий футер */
.wrapper-with-footer
{
	min-height: 100%;
	margin-bottom: -100px;
	overflow: auto; /* чтобы отступы не вылезали за пределы контейнера */
}

* html .wrapper-with-footer
{
    height: 100%; /* для IE 6, непонимающего min-height */
}

.wrapper-inner
{
	padding-bottom: 100px;
}

.footer
{
	background-color: blue;
	height: 100px;
}